.popover[class*="tour-"]{
    padding: 1.5em;
}

.popover[class*="tour-"] .header{
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: .4em;
    margin-top: 0;
    color: #000000;
}

.popover[class*="tour-"] .close{
    font-size: 14px;
    color: #000000;
    position: absolute;
    right: 7px;
    top: 5px;
}

.popover[class*="tour-"] .popover-content{
    padding: 0;
    font-family: Georgia, serif;
    color: #7f7f7d;
    margin-bottom: 2.5em;
}

.popover[class*="tour-"] .popover-navigation{
    padding: 0;
}

.popover[class*="tour-"] .popover-navigation .btn-link{
    font-size: 1.3rem;
    color: #222d33;
    font-weight: bold;
}

.popover[class*="tour-"] .popover-navigation .btn-link:hover{
    text-decoration: none;
}
